AddDefaultCharset utf-8
DirectoryIndex accueilAdmin.php
AuthName "Restricted Files"
AuthType Basic
# (Following line optional)
AuthUserFile C:\xampp\htdocs\histostage_seance3\histo\administration\.htpasswd
Require valid-user
<Files "ajoutEtudiant.php">
Deny from all
</Files>